<form>
  <app-input type="tel" label="etesf"/>
  <app-input type="datetime-local"/>
  <app-input type="password"/>
  <app-input type="url"/>
  <app-input type="file"/>
  <app-input type="month"/>
  <app-input type="time"/>
</form>

<app-modal
  id="myModal2"
  title="Notice"
  [showFooter]="false"
  [launchText]="'Show Info'"
  btnClass="btn-info">
  This is a quick message with no footer.
</app-modal>

<app-modal
  id="myModal"
  title="Confirm"
  [showFooter]="true"
  [scrollable]="true"
  (modalOpened)="onModalOpen()"
  (modalClosed)="onModalClose()">
  Are you sure you want to delete?

  <div modal-footer>
    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</app-modal>

<router-outlet />
